* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f4f7f6;
  color: #333;
  line-height: 1.6;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

/* Background Logo */
.background-logo {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url('../public/img_index/fondo_banner.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* Header */
.header {
  background: linear-gradient(135deg, #2c5f2d, #000000, #1a3d1a, #003300);
  background-size: 300% 300%;
  animation: auraMove 10s ease-in-out infinite;
  color: #fff;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 20px rgba(44, 95, 45, 0.658);
}

@keyframes auraMove {
  0% {
    background-position: 0% 100%;
  }

  50% {
    background-position: 100% 0%;
  }

  100% {
    background-position: 0% 100%;
  }
}

.logo-container img {
  height: 80px;
}

.navbar {
  display: flex;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-link {
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.nav-link:hover {
  background-color: #3b3c3f7d;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: linear-gradient(green, rgb(0, 83, 6));
  min-width: 200px;
  border: 1px solid rgba(0, 255, 229, 0.619);
  border-radius: 3px;
  box-shadow: 0 5px 10px rgba(9, 255, 50, 0.649);
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu li a {
  padding: 10px 15px;
  display: block;
  transition: background-color 0.3s;
  border-bottom: 1px solid rgba(0, 255, 234, 0.54);
}


.downxd {
  color: rgb(0, 0, 0);
}

.downxd:hover {
  color: rgb(0, 176, 3);
  text-shadow: 0 0 5px rgb(0, 255, 42), 0 0 710px rgb(242, 255, 0);
}

.dropdown-menu li a:hover {
  transition: 0.6;
  background-color: rgba(255, 255, 255, 0.911);
}

.menu-toggle {
  display: none;
  font-size: 27px;
  cursor: pointer;
}

/* Banner Carousel */
.banner-carousel {
  position: relative;
  height: 615px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.carousel-container {
  display: flex;
  transition: transform 0.5s ease;
  height: 100%;
}

.carousel-slide {
  min-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  position: relative;
}

.banner-overlay {
  position: absolute;
  inset: 0;
  background-size: 100px 100px;
  background-color: rgba(0, 0, 0, 0.4);
}

.slide-content {
  display: flex;
  align-items: center;
  gap: 100px;
  z-index: 1;
  color: #fff;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.banner-vector-img {
  max-height: 300px;
  width: auto;
}

.banner-text h3 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.banner-text p {
  font-size: 1.2em;
}

.welcome-slide {
  position: relative;
  background-image: url('../public/img_index/fondo_banner.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #ffffff;
  overflow: hidden;
  /*...para que ::before no se salga */
}

.welcome-slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.742);
  z-index: 0;
}

.welcome-content {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.directorio-img {
  max-height: 400px;
  width: auto;
  border-radius: 500px;
  margin: 0 auto;
  transition: all 0.5s ease-in-out;
  box-shadow: 0 4px 15px #39FF14;
  border: 10px solid #007c02;
}

.directorio-img:hover {
  border: 13px solid #ffff10f4;
  box-shadow: 0 0 10px #FFFF00, 0 0 40px #FFFF00;
  transform: scale(1.05);
}

.text-content h2 {
  font-size: 2.2em;
}

.text-content p {
  font-size: 1.2em;
  margin-top: 10px;
}

.banner-mapa-img {
  max-height: 510px;
  margin-right: 10px;
}

.banner-vector-img {
  max-height: 500px;
  margin-right: 20px;
  border-radius: 10px;
  border: 10px solid #d7ffd3d7;
  box-shadow: 0 1px 12px #39FF14;
}

/* Typewriter and Fade-in Animations BANNER*/
.typewriter {
  max-width: 600px;
  overflow: hidden;
  margin: 0 auto;
}

.typewriter h2 {
  display: inline-block;
  overflow: hidden;
  border-right: 0.20em solid #2c5f2d;
  white-space: normal;
  word-break: break-word;
  margin: 0 auto;
  animation: typing 7s steps(60, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    max-width: 10ch;
  }

  to {
    max-width: 60ch;
  }
}

@keyframes blink-caret {

  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: #fbff00;
  }
}

.fade-in {
  transform: scale(2.8);
  animation: zoomIn 2s ease forwards;
  animation-delay: 1.5s;
  animation-fill-mode: both;
  color: #d7ffd3;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.carousel-nav {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.prev-btn,
.next-btn {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 24px;
}

.carousel-dots {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.carousel-dots .dot {
  width: 12px;
  height: 12px;
  background-color: #bbb;
  border-radius: 50%;
  cursor: pointer;
}

.carousel-dots .dot.active {
  background-color: #00ff04;
}

/*========SECCIÓN DOCUMENTOS========*/
.docs-section {
  position: relative;
  padding: 60px 20px;
  text-align: center;
  background: url('../public/img_index/fondo_docs.jpg') no-repeat center/cover fixed;
  z-index: 1;
} 

.docs-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(48, 86, 55, 0.478);
  z-index: 0;
}

.docs-section::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
  pointer-events: none;
  z-index: 2;
}

.docs-section * {
  position: relative;
  z-index: 1;
}

.docs-section h2 {
  font-size: 2em;
  font-family: Tahoma, Verdana, sans-serif;
  margin-bottom: 30px;
  color: #2c5f2d;
}

.docs-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.doc-item {
  background: #e8f5e9;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.doc-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(111, 58, 23, 0.6);
}

.doc-item span {
  font-weight: 600;
}

/* =======SECCIÓN NOTICIAS======== */
.news-section {
  position: relative;
  padding: 60px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  background: url('../public/img_index/fondo_docs.jpg') no-repeat center/cover fixed;
  z-index: 1;
}

.news-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: linear-gradient(to bottom, rgba(182, 255, 208, 0.7), transparent 50%);
  background-color: #fff;
  z-index: 0;
}

.news-section * {
  position: relative;
  z-index: 1;
}

.news-card {
  width: 300px;
  height: 400px;
  perspective: 1000px;
  transition: transform 0.6s ease-out;
  transform-style: preserve-3d;
  cursor: pointer;
}

.news-card.flipped {
  transform: rotateY(180deg);
}

.front_notice,
.back_notice {
  position: absolute;
  inset: 0;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .15);
}

.front_notice {
  background: no-repeat center/cover;
  display: flex;
  align-items: flex-end;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, .7);
}

.notice_overlay {
  width: 100%;
  padding: 20px;
  background: rgba(0, 0, 0, .6);
  text-align: center;
}

.back_notice {
  transform: rotateY(180deg);
  background: no-repeat center/cover;
  padding: 20px;
  overflow-y: auto;
}

.back_notice::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.8);
  filter: blur(4px);
  z-index: 0;
}

.back_notice * {
  position: relative;
  z-index: 1;
}

@media (max-width: 600px) {
  .news-card {
    width: 90%;
    height: 400px;
  }
}

.previous-news-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #00400f;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.previous-news-link:hover {
  background-color: #2b0051;
}

/*=== Map Section ===*/
.map-section {
  padding: 60px 20px;
  background-image: linear-gradient(to bottom, rgba(182,255,208,0.7), transparent 50%);
  background-color: #fff;
  text-align: center;
}

.map-section h2 {
  font-size: 2em;
  margin-bottom: 30px;
  color: #2c5f2d;
}

.map-container {
  max-width: 1200px;
  margin: 0 auto;
}

/* PARTNERS SECTION */
.partners-section {
  padding: 60px 20px;
  background: linear-gradient(to bottom, hsl(138, 100%, 90%) 85%, #ffffff);
  text-align: center;
}

.partners-section h2 {
  font-size: 2em;
  margin-bottom: 30px;
  color: #2c5f2d;
}

.partners-carousel-container {
  overflow: hidden;
  max-width: 1420px;
  margin: 0 auto;
}

.partners-carousel {
  display: flex;
  animation: scroll 20s linear infinite;
}

.partners-carousel img {
  height: 100px;
  margin: 0 20px;
  flex-shrink: 0;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}
/* Footer en  */
